html,
  body {
   
    background-color: #00a2ff;
    font-family: 'Raleway', sans-serif;
  }
  
  .container-fluid {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
  }
  
  #title {
    display: none;
    text-align: center;
  }
  
  @media(min-width:00px) {
    #title {
      font-size: 30px;
    }
  }
  
  @media(min-width:768px) {
    #title {
      font-size: 30px;
    }
    #test3 {
      margin-top: 600px;
    }
  }
  
  @media(min-width:992px) {
    #title {
      font-size: 50px;
    }
    #test3 {
      margin-top:200px;
    }
  }
  
  @media(min-width:1200px) {
    #title {
      font-size: 60px;
    }
     #test3 {
      margin-top:300px;
    }
    
  }
  
  #contact3 {
    text-align: center;
    background-color: rgba(0, 200, 255, 1);
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  #address {
    text-align: center;
  }
  
  #footer {
    background-color: rgba(50, 50, 50, 1);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-bottom: 15px;
    color: gray;
  }
  
  .carousel {
    max-height: 550px
  }
  
  #home3 {
    text-align: center;
    background-color: rgba(0, 200, 255, 1);
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  #home {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  #info3 {
    text-align: center;
    background-color: rgba(0, 200, 255, 1);
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  #info {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  #test3 {
    text-align: center;
    background-color: rgba(0, 200, 255, 1);
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  #test {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  #gallery3 {
    text-align: center;
    background-color: rgba(0, 200, 255, 1);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  #gallery {
    padding-top: 10px;
    padding-bottom: 10px;
  
}
  